<template>
    <div>
        <div class="page-size" v-if="pageSize">
            <pageSize v-on:pageSizeChange="onPageSizeChange"/>
        </div>
        <div class="search pull-right" v-if="search">
            <search/>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th v-for="column in columns">{{ column }}</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="row in data.data">
                <td v-for="value in row" v-html="value"></td>
            </tr>
            </tbody>
        </table>
        <nav aria-label="Page navigation" style="text-align: right;">
            <ul class="pagination">
                <li v-if="data.prev_page_url">
                    <a href="#" aria-label="Previous" v-on:click="first">
                        <span aria-hidden="true">First</span>
                    </a>
                </li>
                <li v-if="data.prev_page_url">
                    <a href="#" aria-label="Previous" v-on:click="previous">
                        <span aria-hidden="true">Previous</span>
                    </a>
                </li>
                <li v-for="page in paginate" v-bind:class="{ active: page==data.current_page }"><a href="#"
                                                                                                   v-on:click="goTo(page)">{{
                    page
                    }}</a></li>

                <li v-if="data.next_page_url">
                    <a href="#" aria-label="Next" v-on:click="next">
                        <span aria-hidden="true">Next</span>
                    </a>
                </li>
                <li v-if="data.next_page_url">
                    <a href="#" aria-label="Next" v-on:click="last">
                        <span aria-hidden="true">Last</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</template>
<script>
  import pageSize from './PageSize.vue';
  import search from './Search.vue';
  import axios from 'axios';
  let defaultData = {
    data: [],
    next_page_url: null,
    prev_page_url: null,
    current_page: 0,
    first_page_url: '',
    last_page: '',
    total: 0,
    to: 0,
  };
  export default {
    data() {
      return {
        url: this.source,
        data: defaultData,
        paginate: [],
        postData: {
          pageSize: 10,
          search: [],
          order: [],
        }
      };
    },
    created() {
      this.fetch();
    },
    watch: {
      data: function() {
        this.calculatePaginate();
      },
    },
    components: {
      pageSize,
      search
    },
    methods: {
      fetch(url = this.url, data = this.postData) {
        axios.post(url, data)
          .then(({data}) => {
            this.data = data;
          }).catch(function(error) {
          console.log(error);
        });
      },
      next(){
        this.fetch(this.data.next_page_url);
      },
      previous(){
        this.fetch(this.data.prev_page_url);
      },
      first(){
        this.fetch(this.data.first_page_url);
      },
      last(){
        this.fetch(this.data.last_page_url);
      },
      goTo(page){
        this.fetch(this.url + '?page=' + page);
      },
      calculatePaginate(){
        this.paginate = [];
        for (let i = (this.data.current_page - 5); i <= (this.data.current_page + 5); i++) {
          if (i > 0 && i < (this.data.total / this.data.per_page + 1)) {
            this.paginate.push(i);
          }
        }
      },
      onPageSizeChange(pageSize){
        this.postData.pageSize = pageSize;
        this.fetch()
      }
    },
    props: [
      'source',
      'pageSize',
      'search',
      'columns'
    ]
  }
</script>
<style>
    .page-size {
        display: inline-block;
    }
</style>