<template>
    <select class="form-control border-input" v-on:change="pageSizeChange" v-model="selectedPageSize">
        <option value="10">10</option>
        <option value="25">25</option>
        <option value="50">50</option>
        <option value="100">100</option>
    </select>
</template>
<script>
  export default {
    data(){
      return {
        selectedPageSize: 10
      }
    },
    props: [
      'pageSize'
    ],
    methods: {
      pageSizeChange: function(event) {
        this.$emit('pageSizeChange', this.selectedPageSize)
      }
    }
  }
</script>