<template>
    <div class="card">
        <div class="header">
            <div class="col-md-6">
                <h4 class="title">{{title}}</h4>
                <p class="category">{{subTitle}}</p>
            </div>
            <div class="col-md-6">
                <router-link v-bind:to="createLink" v-if="createLink">
                    <button class="btn btn-sm btn-primary pull-right">Add New</button>
                </router-link>
            </div>
        </div>
        <br/>
        <br/>
        <hr/>
        <div class="content loader" v-if="loading">
            <div id="text">Please Wait....</div>
        </div>
        <div class="content clearfix">
            <slot></slot>
        </div>
    </div>
</template>
<script>
  export default {
    props: {
      type: {
        type: String, // striped | hover
        default: 'striped'
      },
      title: {
        type: String,
        default: ''
      },
      subTitle: {
        type: String,
        default: ''
      },
      createLink: {
        type: String,
        default: ''
      },
      loading: {
        type: Boolean,
        default: false
      }
    },
  }

</script>
<style>
.loader{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255,255,255,.5);
    z-index: 20;
}
#text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 20px;
    color: black;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}
</style>
