<template>
    <div>
        <router-link :to="'company/edit/'+id">
            <button class="btn btn-xm btn-primary btn-fill"><span class="fa fa-edit"></span></button>
        </router-link>
<!--
        <button class="btn btn-xm btn-danger btn-fill"><span class="fa fa-trash"></span></button>
-->
    </div>
</template>
<script>
  export default {
    data() {
      return {
        id: this.row.id
      }
    },
    props: [
      'row',
    ],
    watch: {
      row: function(newVal) {
        this.id = newVal.id;
      }
    }
  }
</script>