<template>
    <box title="Company" sub-title="Create" :loading="loading">
        <company-form v-bind:companyData="company" v-on:submit="saveCompany"></company-form>
    </box>
</template>
<script>
  import companyForm from './Form';

  export default {
    data() {
      return {
        company: {
          name: '',
          address: '',
          phone1: '',
          phone2: '',
          email: '',
          logo: '',
        },
        loading: false
      }
    },
    components: {
      companyForm
    },
    methods: {
      saveCompany: function(company, setFormValidationErrors) {
        let self = this;
        this.loading = true;
        this.$http.post(routes['company.store'], company)
          .then(function(res) {
            self.$notify(res.data.message, "success");
            self.loading = false;
            self.$router.push('/company');
          }).catch(function(error) {
          self.loading = false;
          if (error.response.status == 422) {
            setFormValidationErrors(error.response.data);
          } else {
            self.$notify("Something is Wrong", "danger");
          }
        });
      },
    },
  }
</script>

