<template>
    <box title="Company" sub-title="Edit Company" :loading="loading">
        <company-form v-bind:companyData="company" v-on:submit="saveCompany"></company-form>
    </box>
</template>
<script>
  import companyForm from './Form';

  export default {
    data() {
      return {
        company: {
          name: '',
          address: '',
          phone1: '',
          phone2: '',
          email: '',
          logo: '',
        },
        loading: false
      }
    },
    components: {
      companyForm
    },
    created: function() {
      this.findCompany(this.$route.params.id);
    },
    methods: {
      findCompany: function(id) {
        let self = this;
        this.loading = true;
        this.$http.get(routes['company.show'].replace("{company}", id))
          .then(function(res) {
            self.company.id = res.data.id;
            self.company.name = res.data.name;
            self.company.email = res.data.email;
            self.company.address = res.data.address;
            self.company.phone1 = res.data.phone1;
            self.company.phone2 = res.data.phone2;
            self.company.logo = res.data.logo;
            self.loading = false;
          })
      },
      saveCompany: function(company, setFormValidationErrors) {
        let self = this;
        this.loading = true;
        this.$http.send(routes['company.update'].replace("{company}", company.id), company, 'patch')
          .then(function(res) {
            self.$notify(res.data.message, "success");
            self.loading = false;
            self.$router.push('/company');
          }).catch(function(error) {
          self.loading = false;
          if (error.response.status == 422) {
            setFormValidationErrors(error.response.data);
          } else {
            self.$notify("Something is Wrong", "danger");
          }
        })
      }
    },
    watch: {
      $route: function(route) {
        this.findCompany(route.params.id);
      }
    }
  }
</script>

