<template>
    <div>
        <div class="col-md-6">
            <fg-input type="text"
                      label="Company Name"
                      placeholder="Company Name"
                      name="name"
                      v-validate="'required'"
                      :error="errors.first('name')"
                      v-model="company.name">
            </fg-input>
        </div>
        <div class="col-md-6">
            <fg-input type="text"
                      label="Address"
                      placeholder="Company Address"
                      name="address"
                      v-validate="'required'"
                      :error="errors.first('address')"
                      v-model="company.address">
            </fg-input>
        </div>
        <div class="col-md-6">
            <fg-input type="text"
                      label="Phone 1"
                      placeholder="Phone1"
                      name="phone1"
                      v-validate="'required'"
                      :error="errors.first('phone1')"
                      v-model="company.phone1">
            </fg-input>
        </div>
        <div class="col-md-6">
            <fg-input type="text"
                      label="Phone 2"
                      placeholder="Phone2"
                      name="phone2"
                      v-validate="'required'"
                      :error="errors.first('phone2')"
                      v-model="company.phone2">
            </fg-input>
        </div>
        <div class="col-md-6">
            <fg-input type="text"
                      label="Email"
                      placeholder="Email"
                      name="email"
                      v-validate="'required'"
                      :error="errors.first('email')"
                      v-model="company.email">
            </fg-input>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <router-link to="/company">
                    <button type="button" class="btn btn-info btn-fill"><span class="ti-angle-left"></span> Back
                    </button>
                </router-link>
                <button type="button" class="btn btn-success btn-fill" v-on:click="validateBeforeSubmit"><span
                        class="ti-save"></span> Save
                </button>
            </div>
        </div>
    </div>
</template>
<script>
  const defaultCompany = {
    name: '',
    address: '',
    phone1: '',
    phone2: '',
    email: '',
    logo: '',
  };
  export default {
    data() {
      return {
        company: (this.companyData) ? this.companyData : defaultCompany
      }
    },
    methods: {
      validateBeforeSubmit() {
        let self = this;
        this.$validator.validateAll().then((result) => {
          if (result) {
            this.$emit('submit', this.company, function(errors) {
              self.$setErrorsFromResponse(errors);
            });
          }
        });
      }
    },
    props: [
      'companyData'
    ]
  }
</script>
<style>
    .is-danger {
        color: #a13535;
    }
</style>