<template>
    <box title="Users" sub-title="Create" :loading="loading">
        <user-form v-bind:userData="user" v-on:submit="saveUser"></user-form>
    </box>
</template>
<script>
  import userForm from './Form';
  export default {
    data() {
      return {
        user: {
          username: '',
          email: '',
          password: ''
        },
        loading: false
      }
    },
    components: {
      userForm
    },
    methods: {
      saveUser: function(user, setFormValidationErrors) {
        let self = this;
        this.loading = true;
        this.$http.post(routes['users.store'], user)
          .then(function(res) {
            self.$notify(res.data.message, "success");
            self.loading = false;
            self.$router.push('/users');
          }).catch(function(error) {
          self.loading = false;
          if (error.response.status == 422) {
            setFormValidationErrors(error.response.data);
          } else {
            self.$notify("Something is Wrong", "danger");
          }
        })
      }
    }
  }
</script>

