<template>
    <box title="Users" sub-title="Edit User" :loading="loading">
        <user-form v-bind:userData="user" v-on:submit="saveUser"></user-form>
    </box>
</template>
<script>
  import userForm from './Form';

  export default {
    data() {
      return {
        user: {
          id: '',
          name: '',
          email: '',
          password: ''
        },
        loading: false
      }
    },
    components: {
      userForm
    },
    created: function() {
      this.findUser(this.$route.params.id);
    },
    methods: {
      findUser: function(id) {
        let self = this;
        this.loading = true;
        this.$http.get(routes['users.show'].replace("{user}", id)).then(function(res) {
          self.user.id = res.data.id;
          self.user.name = res.data.name;
          self.user.email = res.data.email;
          self.loading = false;
        })
      },
      saveUser: function(user, setFormValidationErrors) {
        let self = this;
        this.loading = true;
        this.$http.send(routes['users.update'].replace("{user}", user.id), user, 'patch')
          .then(function(res) {
            self.$notify(res.data.message, "success");
            self.loading = false;
            self.$router.push('/users');
          }).catch(function(error) {
          self.loading = false;
          if (error.response.status == 422) {
            setFormValidationErrors(error.response.data);
          } else {
            self.$notify("Something is Wrong", "danger");
          }
        })
      }
    },
    watch: {
      $route: function(route) {
        this.findUser(route.params.id);
      }
    }
  }
</script>

