<template>
    <div>
        <form>
            <div class="form-group">
                <label class="form-label">User Name:</label>
                <input type="text" name="name" class="form-control border-input" v-model="user.name"
                       v-validate="'required'"/>
                <span v-show="errors.has('name')" class="help is-danger">{{ errors.first('name') }}</span>
            </div>
            <div class="form-group">
                <label class="form-label">Email:</label>
                <input name="email" type="email" class="form-control border-input" v-model="user.email"
                       v-validate="'required|email'"/>
                <span v-show="errors.has('email')" class="help is-danger">{{ errors.first('email') }}</span>
            </div>
            <div class="form-group">
                <label class="form-label">Password:</label>
                <input name="password" type="password" class="form-control border-input" v-model="user.password"/>
                <span v-show="errors.has('password')" class="help is-danger">{{ errors.first('password') }}</span>
            </div>
            <div class="form-group">
                <router-link to="/users">
                    <button type="button" class="btn btn-info btn-fill"><span class="ti-angle-left"></span> Back
                    </button>
                </router-link>
                <button type="button" class="btn btn-success btn-fill" v-on:click="validateBeforeSubmit"><span
                        class="ti-save"></span> Save
                </button>
            </div>
        </form>
    </div>
</template>
<script>
  const defaultUser = {
    name: '',
    password: '',
    email: ''
  };
  export default {
    data() {
      return {
        user: (this.userData) ? this.userData : defaultUser
      }
    },
    methods: {
      validateBeforeSubmit() {
        self = this;
        this.$validator.validateAll().then((result) => {
          if (result) {
            this.$emit('submit', this.user, function(errors) {
              self.$setErrorsFromResponse(errors);
            });
          }
        });
      }
    },
    props: [
      'userData'
    ]
  }
</script>
<style>
    .is-danger {
        color: #a13535;
    }
</style>