<template>
    <box title="Users" sub-title="All Users List" create-link="users/create" :loading="loader">
        <datatable v-bind="$data">
            <div class="col-md-2">
                <div class="form-group">
                    <input v-model="searchFor" class="form-control border-input" @keyup.enter="setFilter"
                           placeholder="Search">
                    <span class="input-group-btn">
                    <!--<button class="btn btn-primary btn-fill" @click="setFilter">Go</button>-->
                        <!--<button class="btn btn-default btn-fill" @click="resetFilter">Reset</button>-->
                    </span>
                </div>
            </div>
        </datatable>
    </box>
</template>
<script>
  import ActionButtons from './ActionButtons.vue';

  export default {
    data() {
      return {
        columns: [
          {title: 'User ID', field: 'id', sortable: true},
          {title: 'Username', field: 'name', sortable: true},
          {title: 'Email', field: 'email', sortable: true},
          {title: 'Operation', tdComp: ActionButtons, visible: 'true'}
        ],
        HeaderSettings: false,
        tblClass: 'table',
        tblStyle: 'color: #666',
        data: [],
        total: 0,
        query: {},
        selection: [],
        pageSizeOptions: [5, 10, 15, 20],
        searchFor: '',
        moreParams: [],
        loader: false
      }
    },
    watch: {
      query: {
        handler() {
          this.handleQueryChange()
        },
        deep: true
      }
    },
    methods: {
      handleQueryChange() {
        let self = this;
        this.loader = true;
        this.$http.post(routes['users.data'], this.query)
          .then(function(res) {
            self.data = res.data.data;
            self.total = res.data.total;
            self.loader = false;
          })
      },
      alertSelectedUids() {
        alert(this.selection.map(({id}) => id))
      },
      setFilter: function() {
        this.query = {
          ...this.query,
          'filter': this.searchFor
        };
      },
      resetFilter: function() {
        this.searchFor = '';
        this.setFilter()
      },
      components: {
        ActionButtons
      }
    }
  }
</script>
<style>

</style>
